* {
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

header,
main,
footer {
  overflow-x: hidden;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.logo-studion {
  font-size: 2.375rem;
  font-weight: 950;
  line-height: 2ch; /* relativa ao tamanho da altura do glifo 0 da fonte */
  text-transform: uppercase;
}

.logo-studion_subtitle {
  display: block;
  font-size: 0.875rem;
  font-weight: 100;
}

.copy--primary {
  color: var(--color-primary);
}
.logo-studion a {
  text-decoration: none;
  color: #fff;
}
