.hero {
  position: relative;
  height: 34.625rem;
}

.hero__bakground {
  position: absolute;
  z-index: -1;
  object-fit: contain;
  object-position: center;
}

.hero__copy {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  padding: 7rem 1.875rem;
}

.slide__copy h6 {
  font-size: 0.67rem;
  font-weight: bold;
  /*font-size: 0.9375rem;
  font-weight: 400;
  line-height: 6.25rem;*/
}

.hero__copy h2 {
  margin: 0;
  margin-bottom: 3rem;
  font-size: 6rem;
  line-height: 4rem;
  letter-spacing: -0.3125rem;
  color: var(--color-primary);
}

.hero__copy p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.875rem;
  color: var(--color-copy--alt);
}
