.navbar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

.navbar__conteiner {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
align-items: center;
  width: 100vw;
  height: 7.75rem;
  padding: 0 1rem;
}

.navbar_links {
  justify-self: end;
}

.navbar_links li {
  font-size: 0.875rem;
  margin-right: 3rem;
  text-transform: uppercase;
}

.navbar_links {
  font-weight: 400;
  color: #ffc500;
  text-decoration: none;
  float: right;
}

.navbar_links a {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.navbar__linkis a.active {
  color: var(--color-primary);
}

.navbar_links a:hover {
  color: var(--color-primary);
}
