.testimonials {
  display: grid;
}

a{
  color: white;
  text-decoration: none;
}


.testimonials h6 {
  font-size: 2rem;
  letter-spacing: 0.1875rem;
  line-height: 1.125rem;
}

.testimonials h2 {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1.5625rem;
}

.testimonials hero__background {
  background-color: #000;
  font-size: 1rem;
}
